<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108840634909-mcjqomjccpsc14ubnhor8uet1shj0bcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108840634909-mcjqomjccpsc14ubnhor8uet1shj0bcq</string>
	<key>API_KEY</key>
	<string>AIzaSyCNoiAD8UOWAC3ccO_RS7jbN2IYosKZEgU</string>
	<key>GCM_SENDER_ID</key>
	<string>108840634909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hollys.mumory</string>
	<key>PROJECT_ID</key>
	<string>mumorytest</string>
	<key>STORAGE_BUCKET</key>
	<string>mumorytest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108840634909:ios:d6e8cd5b913255296814f4</string>
</dict>
</plist>