<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32174734506-iomhvrpsqb6pv9qn5cgo8ehdmem1ev1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32174734506-iomhvrpsqb6pv9qn5cgo8ehdmem1ev1k</string>
	<key>API_KEY</key>
	<string>AIzaSyBRozR-wyefv6X-aP6mYZwjnTbs53rA3T0</string>
	<key>GCM_SENDER_ID</key>
	<string>32174734506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hollys.mumory</string>
	<key>PROJECT_ID</key>
	<string>hollys-399409</string>
	<key>STORAGE_BUCKET</key>
	<string>hollys-399409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32174734506:ios:aeafdd2f234a20ed2c64d3</string>
</dict>
</plist>